
<div *ngIf="userGroup">
    <h2><span jhiTranslate="roGhidApp.userGroup.detail.title">User Group</span> {{userGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="roGhidApp.userGroup.name">Name</span></dt>
        <dd>
            <span>{{userGroup.name}}</span>
        </dd>
        <dt><span jhiTranslate="roGhidApp.userGroup.users">Users</span></dt>
        <dd>
            <span *ngFor="let users of userGroup.users; let last = last">
                <a [routerLink]="['/user-account', users?.id ]">{{users.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-group/'+ userGroup.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
