<h2>Setari!</h2>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="boxSetting" routerLink="settings">
      <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
      <h4>Cont</h4>
      <p>Schimbati numele de utilizator,parola, email</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="boxSetting list-group">
      <i class="fa fa-user fa-3x mb-1" aria-hidden="true"></i>
      <h4>Profil</h4>
      <p class="mb-1">Schimbati poza de profil,descrierea..</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="boxSetting">
      <i class="fa fa-map fa-3x" aria-hidden="true"></i>
      <h4>Harta</h4>
      <p>Administreaza harta cu locuri turistice</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="boxSetting">
      <i class="fa fa-users fa-3x" aria-hidden="true"></i>
      <h4>Grupuri</h4>
      <p>Administreaza grupuri</p>
    </div>
  </div>
</div>
