

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    right:0px;
    background-color: rgba(255,255,255,0.5);
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

 #menu {
    border:0;
    padding:10px 10px 10px 60px;
    background-color:#BCF5A9;
}

#menu a{
    padding-top:30px;
    color:#818181;
}
#menu a:hover * {
    display: block;
}
.sidenav #options{
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#options li{
    background-color:rgba(51, 204, 51,0.7);
   padding: 4px 4px 4px 16px;
   text-decoration: none;
   font-size: 18px;
    font-weight:500;
   color: #818181;
   display: block;
   transition: 0.3s;
   opacity:1;
    border-bottom: 1px solid rgba(129, 129, 129, .5);
}

#options li:hover {
  background-color: #666;
    color:white;
}
#obiective {
    list-style: none;
    padding-top:20px;
}
#obiective li {

   text-decoration: none;
    padding-bottom:10px;
   font-size: 18px;
   display: block;
   transition: 0.3s;
   z-index: 1;
}

#obiective #numeObiectiv {
  padding-left:10%;
  font-size:20px;
    margin:0;
    padding-bottom: 0;
}

#obiective #detaliiObiectiv {
  font-size:15px;
    padding:0;
    margin:0;
    padding-left:10%;
}

#obiective img {
    height:100px;
    width:150px;
    opacity: 1;
    padding-left: 15%;
    padding-top: 10%;
}

#obiective li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 1px 3px 10px 6px grey;
    -moz-box-shadow:    1px 3px 10px 6px grey;
    box-shadow:         1px 3px 10px 6px grey;
    height:80%;
}
#obiective li:hover > #numeObiectiv{
    padding-top:40px;
}
#obiective li:hover > img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(230, 255, 230,.8);
    min-width: 160px;
    z-index: 1;
    left: 2%;
    margin-top: 2%;
}
.dropdown-content a {
    color:#818181;
    text-decoration: none;
    display: block;
    padding-left: 10%;
}

.dropdown-content a:hover {
    background-color: #666;
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

