<div id="mySidenav" class="sidenav">
    <div id="menu" class="w3-container w3-light-grey" (click)="ShowList()">
        <a href="">Recomandari</a>
    </div>
    <ul id="options">
        <li><a href="">Orase principale</a></li>
        <li><a href="">Regiuni</a></li>
    </ul>
    <ul id = "obiective">
        <li *ngFor=" let objective of objectives">
        <img src= "../../../content/images/brasov.jpg" alt="picture here" >
           <p id="numeObiectiv"> {{objective.name}} </p>
           <p id ="descriereObiectiv" > {{objective.description}} </p>
  </li>
</ul>
  </div>
