

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    right:0px;
    background-color: rgba(255,255,255,0.5);
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a:hover {
    color: #f1f1f1;
}

 #menu {
    border:0;
    padding:10px 10px 10px 60px;
    background-color:#BCF5A9;
}

#menu a{
    padding-top:30px;
    color:#818181;
}
#menu a:hover * {
    display: block;
}
.sidenav #options{
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}
#options a {
   background-color: #999;
   padding: 4px 4px 4px 16px;
   text-decoration: none;
   font-size: 18px;
   color: #818181;
   background-color: #ddffcc;
   display: block;
   transition: 0.3s;
   z-index: 1;
   opacity:1;
}

#options a:hover {
  background-color: #666;
}
#obiective {
    list-style: none;
    padding-top:20px;
}
#obiective a {
   background-color: #999;
   padding: 4px 4px 4px 16px;
   text-decoration: none;
   font-size: 18px;
   color: #818181;
   display: block;
   transition: 0.3s;
   z-index: 1;
   opacity:2;
}

#obiective #numeObiectiv {
  padding-left:20%;
  font-size:20px;
}

#obiective #descriereObiectiv {
  font-size:15px;
}

#obiective img {
    height:100px;
    width:150px;
    opacity: 1;
}
