<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let marker of markers"
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [iconUrl]="markerIconUrl()">
        <agm-info-window #infoWindow [maxWidth]="250" >

            <div class="si-content">
                <div class="title">{{"Title TEST"}}</div>
                <br>
                <div class="description" ><strong>{{"Desc TEST"}}</strong></div>
                <br>
                <rating [(ngModel)]="5" [readonly]="true"></rating>
                <!--<rating [(ngModel)]="marker.rating" [fullIcon]="'◆'"-->
                <!--[emptyIcon]="'◇'"></rating>-->
                <br>
                <div class="imgSrc"><img src={{""}} id="img2"></div>

                <!--Linkul catre componenta de detalii-->

                <!--<a href="/#/objective/{{marker.id}}">-->
                    <!--<p id ="detaliiObiectiv" > Detalii </p></a>-->
            </div>

        </agm-info-window>
    </agm-marker>
</agm-map>
