<div>
    <h2>
        <span jhiTranslate="roGhidApp.objective.home.title">Objectives</span>
        <button class="btn btn-primary float-right jh-create-entity create-objective" [routerLink]="['/', { outlets: { popup: ['objective-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="roGhidApp.objective.home.createLabel">
            Create new Objective
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="objectives">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="roGhidApp.objective.name">Name</span></th>
            <th><span jhiTranslate="roGhidApp.objective.description">Description</span></th>
            <th><span jhiTranslate="roGhidApp.objective.imagePath">Image Path</span></th>
            <th><span jhiTranslate="roGhidApp.objective.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="roGhidApp.objective.rating">Rating</span></th>
            <th><span jhiTranslate="roGhidApp.objective.latitude">Latitude</span></th>
            <th><span jhiTranslate="roGhidApp.objective.longitude">Longitude</span></th>
            <th><span jhiTranslate="roGhidApp.objective.creator">Creator</span></th>
            <th><span jhiTranslate="roGhidApp.objective.city">City</span></th>
            <th><span jhiTranslate="roGhidApp.objective.objectiveWishList">Objective Wish List</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let objective of objectives ;trackBy: trackId">
                <td><a [routerLink]="['../objective', objective.id ]">{{objective.id}}</a></td>
                <td>{{objective.name}}</td>
                <td>{{objective.description}}</td>
                <td>{{objective.imagePath}}</td>
                <td>{{objective.creationDate | date:'medium'}}</td>
                <td>{{objective.rating}}</td>
                <td>{{objective.latitude}}</td>
                <td>{{objective.longitude}}</td>
                <td>
                    <div *ngIf="objective.creator">
                        <a [routerLink]="['../user-account', objective.creator?.id ]" >{{objective.creator?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="objective.city">
                        <a [routerLink]="['../city', objective.city?.id ]" >{{objective.city?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="objective.objectiveWishList">
                        <a [routerLink]="['../objective-wish-list', objective.objectiveWishList?.id ]" >{{objective.objectiveWishList?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../objective', objective.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'objective/'+ objective.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'objective/'+ objective.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
