<div *ngIf="objective">
    <div class="objectiveCoverBox">
        <div *ngIf="objective.coverImage">
            <img [src]="'data:' + objective.coverImageContentType + ';base64,' + objective.coverImage" style="max-width: 100%;" alt="objective image"/>
        </div>
        <p class="objectiveNameDisplay">{{objective.name}}</p>
    </div>
    <hr>
    <table style="width:100%; table-layout: fixed;">
        <tr>
            <td class="leftbox">
                <p style="color:green;font-weight:bold;text-align:center;">Descriere</p>
                <span>{{objective.description}}</span>
            </td>
            <td class="centerbox">
                <p style="color:green;font-weight:bold;text-align:center;">Rating</p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star notchecked"></span>
            </td>
            <td class="rightbox">
            </td>
        </tr>
    </table>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'objective/'+ objective.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
